body {
	background-image: url(BFImages/bfsf19.jpg);
}
#background {
	width: 700px;
	height: 500px;
	background-color: #ffffff;
	margin:auto;
	margin-top: 110px;
}
#SelectorTab {
	width: 700px;
	height: 50px;
	background-color:#1c4a61;
	color: #ffffff;
	size: 10px;
	text-align: center;
	float: left;
	line-height: 50px;
}
#SelectorTab:hover {
	background-color:#e6ebff;
	color: #000000;
	cursor:pointer;
}
#SelectorTab:active {
	background-color:#e6ebff;
	color: #000000;
	transform: translateY(4px);
}

.Elements {
	float: left;
	width: 95px;
	height: 95px;
	padding: 10px;
}
#imageCaptions {
	font-size: 30px;
	word-spacing: 40px;
	text-indent: 30px;
}
.Hero {
	width: 200px;
	height: 200px;
	background-color: #000000;
	margin: auto;
}